svg {
  border: 1px solid #333333;
  border-radius: 2px;
  margin: 0.75rem;

  text {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  g.span > path,
  g.span > circle {
    &:hover {
      cursor: pointer;
      &~text {
        fill: inherit;
      }
    }
  }
}